@font-face {
    font-family: "IBM-BIOS";
    src: url("Web_IBM_BIOS.woff");
}

html {
    background-color: black;
    color: white;
    font-family: "IBM-BIOS";
    box-sizing: border;
    font-size: 8px;
}

html {
    --color: rgba(255, 255, 255, 0.3);
    --fade: 4px;
    text-shadow: 1px 0px var(--fade) var(--color), 0px 1px var(--fade) var(--color), -1px 0px var(--fade) var(--color), 0px -1px var(--fade) var(--color);
}

body > * {
    border: 2px solid white;
    margin: 1rem;
    padding: 1rem;
}

div {
    margin-top: 1em;
    margin-bottom: 1em;
}

#grid {
    display: grid;
    grid-template-rows: repeat(36, 1em);
    grid-template-columns: repeat(64, 1em);
}

#grid > span {
    border: 1px dotted #444;
    width: 1em;
    height: 1em;
    margin: 0;
}
