@font-face {
    font-family: "IBM-BIOS";
    src: url("Web_IBM_BIOS.woff");
}

html {
    background-color: black;
    color: white;
    font-family: "IBM-BIOS";
    box-sizing: border;
    font-size: 8px;
    line-height: 2ch;
}

* {
    --select-color: red;
    --pointer-cursor: pointer;
}

html {
    --color: rgba(255, 255, 255, 0.3);
    --fade: 4px;
    text-shadow: 1px 0px var(--fade) var(--color), 0px 1px var(--fade) var(--color), -1px 0px var(--fade) var(--color), 0px -1px var(--fade) var(--color);
}

h2 {
    font-size: 8px;
    color: rgb(0, 255, 255);
    --color: rgba(0, 255, 255, 0.3);
    --fade: 4px;
    text-shadow: 1px 0px var(--fade) var(--color), 0px 1px var(--fade) var(--color), -1px 0px var(--fade) var(--color), 0px -1px var(--fade) var(--color);
}

body > * {
    border: 2px solid white;
    margin: 1rem;
    padding: 1rem;
}

#grid {
    display: grid;
    grid-template-rows: repeat(36, 1ch);
    grid-template-columns: repeat(64, 1ch);
}

#grid > span {
    box-sizing: content-box;
    cursor: var(--pointer-cursor);
    line-height: 1ch;
    width: 1ch;
    height: 1ch;
    box-shadow: inset 0px 0px 1px gray;
    word-spacing: 0;
}

#grid.nogrid > span {
    box-shadow: none;
}

.palette-item {
    border: 1px dotted gray;
    padding: 1px;
    cursor: var(--pointer-cursor);
}

.palette-item.selected {
    border: 1px solid var(--select-color);
}

.toggle {
    cursor: var(--pointer-cursor);
}
